.DS_Store
.vscode/launch.json
# Ignore Test Results Directory
*test_results
# Ignore support.wiki
*support.wiki
# Ignore Config
/PowerShell/JumpCloud Module/Config.Json
# Ignore Radius Certs
/scripts/automation/Radius/*/*.pem
/scripts/automation/Radius/*/*.crt
/scripts/automation/Radius/*/*.key
/scripts/automation/Radius/*/*.csr
/scripts/automation/Radius/*/*.pfx
/scripts/automation/Radius/*/*.zip
/scripts/automation/Radius/*/*.srl
/scripts/automation/Radius/Config.ps1
/scripts/automation/Radius/users.json
/scripts/automation/Radius/settings.json
/scripts/automation/Radius/data/*
/scripts/automation/Radius/Cert/Backups/*.pem
/scripts/automation/Radius/Cert/Backups/*.zip
/scripts/automation/Radius/*.encrypted
/scripts/automation/Radius/log.txt
/scripts/automation/Radius/reports/*
/scripts/automation/Radius/config.json

__pycache__/
*.pyc
# Ignore PWSH CSV Import/Update Files:
# /PowerShell/JumpCloud Module/Tests/Csv_Files/import/*
# /PowerShell/JumpCloud Module/Tests/Csv_Files/update/*