.DS_Store
.vscode/launch.json
# Ignore Test Results Directory
*test_results
# Ignore support.wiki
*support.wiki
# Ignore Config
/PowerShell/JumpCloud Module/Config.Json
# Ignore Radius Certs
/scripts/automation/Radius/*/*.pem
/scripts/automation/Radius/*/*.crt
/scripts/automation/Radius/*/*.key
/scripts/automation/Radius/*/*.csr
/scripts/automation/Radius/*/*.pfx
/scripts/automation/Radius/*/*.zip
/scripts/automation/Radius/*/*.srl
/scripts/automation/Radius/commands.json
