[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]
C = US
ST = VA
L = SomeCity
O = MyCompany
OU = MyDivision
CN = www.company.com

[v3_req]
# Useful for debugging with DI events
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:issuer
keyUsage = digitalSignature
extendedKeyUsage = clientAuth
#For Client cert with email in the subject alternative name
subjectAltName = email:username@domain.com

authorityInfoAccess = OCSP;URI:http://localhost:9000