[req]
req_extensions = v3_req
[v3_req]
keyUsage = digitalSignature
extendedKeyUsage = clientAuth
#For Client cert with email in the subject alternative name
subjectAltName = email:user@myorg.com

authorityInfoAccess = OCSP;URI:http://localhost:9000