version: 2.1

workflows:
  version: 2
  gh-pages-workflow:
    jobs:
      - tag_generation

jobs:
  ignore_gh_pages:
    docker:
      - image: cimg/base:stable
    steps:
      - skip_run
  tag_generation:
    docker:
      - image: circleci/python:3.6.4
    steps:
      - checkout
      - generate_tags
      - invoke_commit

commands:
  skip_run:
    steps:
      - run:
          name: skip run
          command: |
            echo "skipping gh-pages ci run"
  generate_tags:
    steps:
      - run:
          name: run generate tag script
          command: |
            python3 deploy/generate_tags.py
  invoke_commit:
    steps:
      - add_ssh_keys:
          fingerprints:
            - '24:54:e1:c2:70:c6:f7:61:71:4b:c5:52:9f:20:b9:63'
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - '24:54:e1:c2:70:c6:f7:61:71:4b:c5:52:9f:20:b9:63'
      - run:
          when: on_success
          name: 'Commit gh-pages to $CIRCLE_BRANCH'
          shell: bash
          command: |
            ssh-keyscan github.com >> ../.ssh/known_hosts
            UserEmail="${CIRCLE_PROJECT_USERNAME}@FakeEmail.com"
            UserName="${CIRCLE_PROJECT_USERNAME}"
            git config user.email $UserEmail
            git config user.name $UserName
            git pull
            git add -A
            git status
            git commit -m "Updating gh-pages;[skip ci]"
            git push origin $CIRCLE_BRANCH
