---
---

@import "{{ site.theme }}";
@import url('http://fonts.cdnfonts.com/css/source-serif-pro');
.page-header {
    color: #202D38;
    background-color: #41C8C3;
    background-image: linear-gradient(120deg, #A796FF, #41C8C3)
}
body {
    font-family: 'Source Serif Pro', sans-serif;
    color: #202D38;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #41C8C3;
}